<header class="bg-card fixed top-0 z-50 w-full shadow-sm">
	<div class="flex w-full max-w-[120rem] items-center justify-between px-6 py-3 sm:px-12">
		<!-- Logo and Desktop Navigation -->
		<div class="flex items-center gap-4">
			<!-- Logo -->
			<a href="/" class="-ml-4 p-2">
				<mat-icon aria-label="3cats Logo" svgIcon="logo" class="h-10 w-38 text-primary"></mat-icon>
			</a>

			<!-- Desktop Navigation -->
			<nav class="hidden items-center gap-8 lg:flex">
				@for (item of landingNavigationItems; track item.id) {
					<a
						class="text-base transition-colors hover:text-primary"
						[class.text-primary]="currentHash === item.href"
						[attr.aria-label]="'Ir a la sección ' + item.label"
						[href]="item.href"
						tabindex="0"
						role="button"
					>
						{{ item.label }}
					</a>
				}
			</nav>
		</div>

		<!-- Sign In Button and Mobile Menu Button -->
		<div class="flex items-center gap-3">
			<!-- Sign In Button -->
			<button
				class="btn-primary w-fit max-xs:hidden"
				aria-label="Iniciar sesión"
				routerLink="/iniciar-sesion"
			>
				Iniciar Sesión
			</button>

			<!-- Mobile Menu Button -->
			<button
				mat-icon-button
				class="lg:hidden"
				aria-label="Abrir menú de navegación"
				[attr.aria-expanded]="isMobileMenuOpen"
				(click)="toggleMobileMenu()"
			>
				<mat-icon fontIcon="menu"></mat-icon>
			</button>
		</div>
	</div>

	<!-- Mobile Navigation -->
	<nav class="bg-card lg:hidden" [class.hidden]="!isMobileMenuOpen">
		<div class="space-y-3 px-4 py-2">
			@for (item of landingNavigationItems; track item.id) {
				<a
					class="block cursor-pointer py-2 transition-colors hover:text-primary-500"
					[class.text-primary-500]="currentHash === item.href"
					[href]="item.href"
					(click)="scrollToSection(item.id)"
					(keydown.enter)="scrollToSection(item.id)"
					[attr.aria-label]="'Ir a la sección ' + item.label"
					tabindex="0"
					role="button"
				>
					{{ item.label }}
				</a>
			}

			<!-- Sign In Button -->
			<button
				class="btn-primary w-fit xs:hidden"
				routerLink="/iniciar-sesion"
				aria-label="Iniciar sesión"
			>
				Iniciar Sesión
			</button>
		</div>
	</nav>
</header>
