<div class="container mx-auto p-4">
	<section>
		<!-- Title -->
		<h2 class="mb-4 text-xl font-bold">Nuevos equipos</h2>

		<!-- Filter -->
		<app-dashboard-filter
			[placeholder]="'Nombre del equipo'"
			(filterChange)="onFilterNewTeamsChange($event)"
			(clearFilter)="onClearNewTeamsFilter()"
		/>

		<!-- New Teams List -->
		<div class="mb-4 flex flex-col gap-6">
			<div class="mt-4 grid grid-cols-1 gap-4">
				@for (team of newTeams; track $index) {
					<!-- Team Card -->
					<app-team-card [team]="team" />
				} @empty {
					<!-- Empty Teams -->
					<app-empty-teams class="col-span-full" />
				}
			</div>

			<!-- Pagination -->
			<app-paginator
				[length]="totalTeams"
				[pageSize]="pageSize"
				(pageChange)="onPageChange($event)"
				ariaLabel="Seleccionar página de equipos"
			/>
		</div>
	</section>
</div>
