<!-- Item wrapper -->
@if (item().title) {
	<div
		class="app-navigation-item-wrapper"
		[class.app-navigation-item-has-subtitle]="!!item().subtitle"
	>
		<div class="app-navigation-item">
			<!-- Title & Subtitle -->
			<div class="app-navigation-item-title-wrapper">
				<!-- Title -->
				<div class="app-navigation-item-title">{{ item().title }}</div>

				<!-- Subtitle -->
				@if (item().subtitle) {
					<div class="app-navigation-item-subtitle">{{ item().subtitle }}</div>
				}
			</div>
		</div>
	</div>
}

@for (item of item().children; track $index) {
	<!-- Basic -->
	@if (item.type === 'basic') {
		<app-navigation-basic-item [item]="item" />
	}

	<!-- Group -->
	@if (item.type === 'group') {
		<app-navigation-group-item [item]="item" />
	}
}
