/* -------------------------------------------------------------------------- */
/*  @ Buttons
/* -------------------------------------------------------------------------- */
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button,
.mat-mdc-icon-button,
.mat-mdc-fab,
.mat-mdc-mini-fab {
	height: 40px;
	min-height: 40px;
	max-height: 40px;
	line-height: 1 !important;

	/* Large button */
	&.app-mat-button-large {
		height: 48px;
		min-height: 48px;
		max-height: 48px;
	}

	/* Small button */
	&.app-mat-button-small {
		height: 32px;
		min-height: 32px;
		max-height: 32px;
	}

	/* Lower the icon opacity on disabled buttons */
	&[disabled='true'] {
		.mat-icon {
			opacity: 0.38 !important;
		}
	}
}

/* Icon buttons */
.mat-mdc-icon-button {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	width: 40px !important;
	padding: 0 !important;

	svg,
	img {
		height: auto !important;
	}
}

/* -------------------------------------------------------------------------- */
/*  @ Form fields
/* -------------------------------------------------------------------------- */

/* "fill" appearance */
.mat-mdc-form-field.mat-form-field-appearance-fill {

	/* Disabled */
	&.mat-form-field-disabled {
		opacity: 0.7 !important;
	}

	/* Invalid */
	&.mat-form-field-invalid {

		/* Border color */
		.mat-mdc-text-field-wrapper {
			@apply border-warn dark:border-warn #{'!important'};
		}

		/* Select */
		.mat-mdc-select {

			/* Placeholder color */
			.mat-mdc-select-placeholder {
				@apply text-warn #{'!important'};
			}
		}
	}

	/* Hover */
	&:hover {
		.mat-mdc-form-field-focus-overlay {
			opacity: 0 !important;
		}
	}

	/* Focused */
	&.mat-focused {
		.mat-mdc-form-field-focus-overlay {
			opacity: 0 !important;
		}
	}

	/* Focused and valid fields */
	&.mat-focused:not(.mat-form-field-invalid) {

		/* Border color */
		.mat-mdc-text-field-wrapper {
			@apply border-primary dark:border-primary #{'!important'};
		}
	}

	/* Default style tweaks and enhancements */
	.mat-mdc-text-field-wrapper {
		padding: 0;
		border-radius: 6px;
		border-width: 1px;
		border-style: solid;
		@apply border-gray-300 bg-white shadow-sm dark:border-gray-500 dark:bg-black dark:bg-opacity-5 #{'!important'};

		/* Adjust the top spacing and overflow when mat-label present */
		&:not(.mdc-text-field--no-label) {
			margin-top: 24px;
			overflow: visible;
		}

		.mat-mdc-form-field-focus-overlay {
			border-radius: 6px;
		}

		/* Form field */
		.mat-mdc-form-field-flex {
			position: relative;
			display: flex;
			align-items: stretch;
			border-radius: 6px;
			padding: 0 16px;

			.mat-mdc-form-field-icon-prefix,
			.mat-mdc-form-field-text-prefix {
				padding: 0 !important;

				>.mat-icon {
					margin-right: 12px;
					padding: 0 !important;
				}

				>.mat-mdc-icon-button {
					margin: 0 4px 0 -10px;
				}

				>.mat-mdc-select {
					margin-right: 10px;
				}

				>.mat-datepicker-toggle {
					margin-left: -8px;
				}
			}

			.mat-mdc-form-field-icon-suffix,
			.mat-mdc-form-field-text-suffix {
				padding: 0 !important;

				>.mat-icon {
					margin-left: 12px;
					padding: 0 !important;
				}

				>.mat-mdc-icon-button {
					margin: 0 -10px 0 4px;
				}

				>.mat-mdc-select {
					margin-left: 10px;
				}

				>.mat-datepicker-toggle {
					margin-right: -8px;
				}
			}

			.mat-mdc-form-field-icon-prefix,
			.mat-mdc-form-field-text-prefix,
			.mat-mdc-form-field-icon-suffix,
			.mat-mdc-form-field-text-suffix {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				// @apply text-hint #{'!important'};

				.mat-mdc-icon-button {
					width: 40px;
					min-width: 40px;
					height: 40px;
					min-height: 40px;
				}

				.mat-icon,
				.mat-mdc-icon-button:not([disabled]),
				.mat-mdc-select-value {
					// @apply text-hint;
				}

				/* Datepicker default icon size */
				.mat-datepicker-toggle-default-icon {
					@apply icon-size-6;
				}

				/* Make mat-select usable as prefix and suffix */
				.mat-mdc-select {
					display: flex;
					align-items: center;

					&:focus {
						.mat-mdc-select-trigger {
							.mat-mdc-select-value {
								@apply text-primary #{'!important'};
							}

							.mat-mdc-select-arrow-wrapper {
								.mat-mdc-select-arrow {
									// border-top-color: 
								}
							}
						}
					}

					.mat-mdc-select-trigger {
						display: flex;
						align-items: center;

						.mat-mdc-select-value {
							display: flex;
							max-width: none;

							mat-mdc-select-trigger {
								.mat-icon {
									margin: 0 !important;
								}
							}
						}

						.mat-mdc-select-arrow-wrapper {
							display: flex;
							align-items: center;
							transform: none;
							margin-left: 4px;

							.mat-mdc-select-arrow {
								min-height: 0;
								@apply text-gray-500 dark:text-gray-400 #{'!important'};
							}
						}
					}
				}
			}

			/* Infix */
			.mat-mdc-form-field-infix {
				position: static;
				display: flex;
				align-items: center;
				width: 88px;
				min-height: 48px;
				padding: 0;
				border: 0;

				/* Floating label - disable floating action */
				.mat-mdc-floating-label {
					top: -25px !important;
					left: 0 !important;
					width: 100% !important;
					transform: none !important;
					pointer-events: auto;
					font-weight: 500;
					// @apply text-default #{'!important'};
				}

				/* Textarea */
				textarea.mat-mdc-input-element {
					margin: 12px 0;
					padding: 0 6px 0 0;
				}

				/* Chips */
				.mat-mdc-chip-set {
					width: 100%;
					margin: 0 -8px;
				}
			}
		}

		/* Remove the underline */
		.mdc-line-ripple {
			display: none;
		}
	}

	/* Subscript tweaks */
	.mat-mdc-form-field-subscript-wrapper {
		font-size: 12px;
		font-weight: 500;

		.mat-mdc-form-field-hint-wrapper,
		.mat-mdc-form-field-error-wrapper {
			padding: 0;
		}

		.mat-mdc-form-field-hint {
			// @apply text-hint #{'!important'};
		}
	}

	/* Adds better alignment for textarea inputs */
	&:has(textarea.mat-mdc-input-element) {
		.mat-mdc-text-field-wrapper {
			.mat-mdc-form-field-flex {

				.mat-mdc-form-field-icon-prefix,
				.mat-mdc-form-field-text-prefix,
				.mat-mdc-form-field-icon-suffix,
				.mat-mdc-form-field-text-suffix {
					align-self: flex-start;
					padding-top: 14px !important;
				}
			}
		}
	}

	/* Rounded */
	&.mat-rounded {
		.mat-mdc-text-field-wrapper {
			border-radius: 24px;
		}
	}
}

/* -------------------------------------------------------------------------- */
/*  @ Icon
/* -------------------------------------------------------------------------- */
.mat-icon {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	width: 24px;
	min-width: 24px;
	height: 24px;
	min-height: 24px;
	font-size: 24px;
	line-height: 24px;
	-webkit-appearance: none !important;

	/* Fix mat-icon spacing */
	&[svgIcon] {
		display: flex !important;
		line-height: 0 !important;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

/* -------------------------------------------------------------------------- */
/*  @ Inputs
/* -------------------------------------------------------------------------- */
.mat-mdc-input-element {
	&::placeholder {
		transition: none !important;
		@apply #{'!important'};
	}

	&::-moz-placeholder {
		transition: none !important;
		// @apply text-hint #{'!important'};
	}

	&::-webkit-input-placeholder {
		transition: none !important;
		// @apply text-hint #{'!important'};
	}

	&:-ms-input-placeholder {
		transition: none !important;
		// @apply text-hint #{'!important'};
	}
}

/* Invalid */
.mat-form-field-invalid {
	.mat-mdc-input-element {

		/* Placeholder color */
		&::placeholder {
			@apply text-warn #{'!important'};
		}

		&::-moz-placeholder {
			@apply text-warn #{'!important'};
		}

		&::-webkit-input-placeholder {
			@apply text-warn #{'!important'};
		}

		&:-ms-input-placeholder {
			@apply text-warn #{'!important'};
		}
	}
}

/* -------------------------------------------------------------------------- */
/*  @ Menu
/* -------------------------------------------------------------------------- */
.mat-mdc-menu-panel {
	min-width: 144px !important;

	.mat-mdc-menu-content {
		.mat-mdc-menu-item {
			.mat-mdc-menu-item-text {
				display: flex;
				align-items: center;
				padding-right: 16px;
			}
		}

		/* Divider within mat-menu */
		mat-divider {
			margin: 8px;
		}
	}
}

/* -------------------------------------------------------------------------- */
/*  @ Paginator
/* -------------------------------------------------------------------------- */
.mat-mdc-paginator {
	.mat-mdc-paginator-container {
		@apply bg-white dark:bg-[#1e293b] rounded-xl #{'!important'};

		.mat-mdc-paginator-range-label {
			@apply text-colorGris dark:text-colorBlancoMenta font-medium text-sm #{'!important'};
		}
	}
}

/* -------------------------------------------------------------------------- */
/*  @ Select
/* -------------------------------------------------------------------------- */
.mat-mdc-select {
	display: inline-flex !important;

	.mat-mdc-select-placeholder {
		transition: none !important;
		// @apply text-hint #{'!important'};
	}

	.mat-mdc-select-trigger {
		.mat-mdc-select-value {
			position: relative;
			display: flex;
			max-width: none;

			.mat-mdc-select-value-text {
				display: inline-flex;

				>* {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
	}

	.mat-mdc-select-arrow-wrapper {
		transform: translateY(0) !important;

		.mat-mdc-select-arrow {
			margin: 0 0 0 8px;
			// @apply text-secondary #{!important};
		}
	}
}

/* -------------------------------------------------------------------------- */
/*  @ Table
/* -------------------------------------------------------------------------- */
.mat-mdc-table {
	.mdc-data-table__row:not(.mdc-data-table__row--selected):hover {
		background: none !important;
	}
}