<!-- Content -->
<section id="home" class="flex h-154 w-full flex-col max-lg:items-center max-lg:justify-center">
	<!-- banner image -->
	<div class="banner absolute h-154 w-full lg:left-0 lg:right-0"></div>

	<div
		class="flex h-full flex-col justify-center gap-4 p-6 max-md:items-center md:justify-end md:p-12"
	>
		<div
			class="relative z-40 max-w-80 space-y-4 text-colorMentaCrema max-md:text-center sm:max-w-[38rem]"
		>
			<p class="text-lg font-semibold sm:text-2xl">¿Listo para competir? ¡Es tu momento!</p>
			<h1 class="text-4xl font-bold leading-tight sm:text-7xl lg:text-[3.75rem]">
				Impulsa tu pasión por el juego
			</h1>
			<p class="text-base sm:text-2xl sm:leading-8">
				Descubre, juega y registra tu legado en los torneos mas emocionantes. Tú pones el talento,
				nosotros lo conectamos al mundo.
			</p>
			<button class="btn-primary my-6 w-full max-w-80">Encuentra tu próximo torneo ahora</button>
		</div>
	</div>
</section>
