<div class="flex min-w-0 flex-auto flex-col">
	<!-- <div> -->
	<landing-header />

	<main class="mx-auto w-full max-w-[120rem] pt-20">
		<!-- Hero Section -->
		<landing-hero />

		<!-- Torneos Section -->
		<landing-tournaments />

		<!-- Comunidad Section -->
		<landing-teams />

		<!-- Organiza tu propio torneo Section -->
		<landing-organize />

		<!-- Lo que nos mueve Section -->
		<landing-about />

		<!-- FAQs Section -->
		<landing-faqs />
	</main>

	<!-- Footer Section -->
	<landing-footer />
</div>
