<div class="app-navigation-wrapper">
	<!-- Content -->
	<div class="app-navigation-content" #navigationContent>
		<!-- Content header -->
		<div class="app-navigation-content-header">
			<!-- Logo -->
			<div class="flex h-20 items-center p-6 pb-0">
				<mat-icon aria-label="3cats Logo" svgIcon="logo" class="h-10 w-38 text-primary"></mat-icon>
			</div>
		</div>

		<!-- Items -->
		@for (item of navigation; track trackByFn($index, item)) {
			<app-navigation-group-item [item]="item" />
		}

		<!-- Content footer -->
		<div class="mt-10">
			<div
				class="m-2 flex flex-col gap-4 rounded-2xl bg-primary p-4 text-start text-white dark:text-white/80"
			>
				<!-- Help icon -->
				<div class="flex h-8 w-8 items-center justify-center rounded-xl bg-white dark:bg-white/80">
					<mat-icon class="text-primary" [fontIcon]="'help_outline'"></mat-icon>
				</div>

				<!-- Content -->
				<div class="flex flex-col">
					<p class="text-base font-medium">¿Necesitas ayuda?</p>
					<p class="text-sm">Revisa el tutorial</p>
				</div>

				<button
					class="w-full rounded-lg bg-white py-2 text-sm font-semibold text-colorGris dark:bg-white/80"
				>
					TUTORIAL
				</button>
			</div>
		</div>
	</div>
</div>
