/* ---------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ---------------------------------------------------------------------------------------------- */

/* This injects Tailwind's base styles and any base styles registered by plugins. */
@tailwind base;

/* This injects additional styles into Tailwind's base styles layer. */
@layer base {
	* {
		/* Text rendering */
		text-rendering: optimizeLegibility;
		-o-text-rendering: optimizeLegibility;
		-ms-text-rendering: optimizeLegibility;
		-moz-text-rendering: optimizeLegibility;
		-webkit-text-rendering: optimizeLegibility;
		-webkit-tap-highlight-color: transparent;
	}

	/* HTML and Body default styles */
	html,
	body {
		font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		width: 100%;
		min-height: 100%;
		scroll-behavior: smooth;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	/* Font size */
	html {
		font-size: 16px;
		font-display: swap;
	}

	/* Body font size */
	body {
		font-size: 0.875rem;
	}

	/* Make images and videos to take up all the available space */
	img {
		width: 100%;
		vertical-align: top;
	}

	/* Fix: Disabled placeholder color is too faded on Safari */
	input[disabled] {
		opacity: 1;
		-webkit-text-fill-color: currentColor;
	}

	input:focus {
		outline: none !important;
	}

	/* Style scrollbars on platforms other than MacOS and iOS */
	@media only screen and (min-width: 960px) {
		body:not(.os-mac) {
			::-webkit-scrollbar {
				width: 8px;
				height: 8px;
				background-color: rgba(0, 0, 0, 0);
			}

			::-webkit-scrollbar:hover {
				width: 8px;
				height: 8px;
				background-color: rgba(0, 0, 0, 0.06);
			}

			::-webkit-scrollbar-thumb {
				border: 2px solid transparent;
				border-radius: 20px;
				box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
			}

			::-webkit-scrollbar-thumb:active {
				border-radius: 20px;
				box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
			}

			&.dark {
				::-webkit-scrollbar-thumb {
					box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.24);
				}

				::-webkit-scrollbar-thumb:active {
					box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.37);
				}
			}
		}
	}

	/* Font size for large screens */
	@media (min-width: 960px) {
		// html {
		// 	font-size: 14px;
		// }
	}

	/* Set the foreground color for disabled elements */
	[disabled] {
		@apply text-slate-400 #{'!important'};
	}

	/* -------------------------------------------------------------------------------------------- */
	/*  @ Custom classes
	/* -------------------------------------------------------------------------------------------- */

	/* Background color for cards */
	.bg-card {
		@apply bg-white dark:bg-[#1e293b];
	}

	/* Background color for navigation */
	.bg-navigation {
		@apply bg-[#F8F9FA] dark:bg-[#1e293b];
	}

	.dashboard-card {
		@apply bg-card rounded-2xl p-6 shadow;
	}

	/* Adaptive text colors */
	.text-adaptive-title {
		@apply text-colorSecundario dark:text-primary;
	}

	.text-adaptive-secondary {
		@apply text-colorGris dark:text-colorBlancoMenta;
	}
}

/* This injects Tailwind's component classes and any component classes registered by plugins. */
@tailwind components;

/* This injects Tailwind's utility classes and any utility classes registered by plugins. */
@tailwind utilities;