<div class="about-container">
	<div #aboutScroll class="about-scroll">
		<!-- Features -->
		@for (feature of aboutFeatures; track feature) {
			<!-- Feature -->
			<div
				class="flex h-62 w-62 flex-col items-center justify-center gap-2 rounded-2xl px-8 py-6 text-center shadow-cardFeature"
				[class]="feature.isActive ? 'bg-card' : 'bg-[#F6F6F6] dark:bg-slate-800'"
			>
				<!-- Coming Soon -->
				@if (feature.comingSoon) {
					<span
						class="bg-card rounded-full px-2 py-1 font-semibold text-[#B5B5B5] dark:text-colorBlancoMenta"
					>
						Próximamente
					</span>
				}

				<!-- Title -->
				<h3
					class="text-lg font-semibold"
					[class.text-primary]="!feature.comingSoon"
					[class.text-slate-500]="feature.comingSoon"
					[class.h-14]="feature.comingSoon"
				>
					{{ feature.title }}
				</h3>

				<!-- Description -->
				<p class="text-sm text-[#B5B5B5] dark:text-colorBlancoMenta">
					{{ feature.description }}
				</p>
			</div>
		}
	</div>

	<!-- Scroll Buttons -->
	<scroll-buttons
		[showLeftButton]="showLeftButton()"
		[showRightButton]="showRightButton()"
		(scrollLeft)="handleScrollLeft()"
		(scrollRight)="handleScrollRight()"
	></scroll-buttons>
</div>
