<section id="sobre-nosotros" class="px-4 py-16 text-center">
	<div class="mx-auto flex max-w-200 flex-col items-center justify-center">
		<div class="mx-auto mb-4 flex max-w-lg flex-col items-center justify-center">
			<h2 class="mb-4 text-3xl font-bold text-colorSecundario sm:text-5xl dark:text-primary">
				Lo que nos mueve
			</h2>

			<p class="text-base sm:text-xl">
				No somos solo una plataforma, somos ese impulso que necesitas para llevar tu pasión al
				siguiente nivel.
			</p>
		</div>

		<div class="mb-12 flex flex-col items-center justify-center p-8">
			<div class="h-auto w-full sm:h-128 sm:w-116">
				<img
					src="images/landing/zulmayalber.webp"
					alt="Sobre nosotros"
					class="h-full w-full object-cover"
				/>
			</div>

			<p class="mb-6 text-base sm:text-xl">
				En 3Cats creemos que el talento merece ser visto y las conexiones son clave para lograrlo.
				Desde torneos hasta equipos destacados, nuestra misión es sencilla: ayudarte a crecer,
				destacar y disfrutar cada paso del camino.
			</p>

			<p class="mb-8 text-base font-semibold text-colorSecundario sm:text-2xl dark:text-primary">
				Ya seas un jugador, un equipo, o un organizador, estamos aquí para darte las herramientas
				que necesitas y crear algo increíble juntos.
			</p>
		</div>
	</div>

	<div class="flex flex-wrap items-center justify-center gap-10">
		@for (card of aboutCards; track card) {
			<landing-about-card [card]="card" />
		}
	</div>
</section>

<landing-about-feature-card />
