<div class="dashboard-card">
	<div class="mb-6">
		<h2 class="text-adaptive-title mb-1 text-xl font-semibold">Estadísticas</h2>
		<p class="text-adaptive-secondary text-sm">
			<span class="font-bold text-green-500">(+{{ increasePercentage }}%)</span>
			que la semana pasada
		</p>

		<div class="mt-4 grid grid-cols-[repeat(auto-fit,minmax(6rem,1fr))] gap-4">
			@for (item of statItems; track item.key) {
				<div class="text-start">
					<div class="mb-2 flex items-center justify-center gap-2">
						<mat-icon
							class="rounded-md bg-primary-500 p-3 text-white icon-size-5"
							[fontIcon]="item.icon"
						></mat-icon>

						<p class="text-sm text-colorGrisClaro">{{ item.label }}</p>
					</div>

					<span class="text-adaptive-secondary text-2xl font-bold">
						{{ statistics[item.key] }}
					</span>
				</div>
			}
		</div>
	</div>

	<!-- Gráfico de barras integrado -->
	<div class="mt-6">
		<apx-chart
			[series]="barChartOptions.series"
			[chart]="barChartOptions.chart"
			[colors]="barChartOptions.colors"
			[plotOptions]="barChartOptions.plotOptions"
			[dataLabels]="barChartOptions.dataLabels"
			[xaxis]="barChartOptions.xaxis"
			[yaxis]="barChartOptions.yaxis"
			[legend]="barChartOptions.legend"
			[tooltip]="barChartOptions.tooltip"
			[grid]="barChartOptions.grid"
		>
		</apx-chart>
	</div>
</div>
