<div class="bg-card h-full rounded-lg p-6 shadow">
	<div class="mb-6">
		<h2 class="mb-1 text-xl font-semibold">Estadísticas</h2>
		<p class="text-sm text-dashboardGrayText">
			<span class="font-bold text-green-500">(+{{ increasePercentage }}%)</span>
			que la semana pasada
		</p>
		<div class="mt-4 grid grid-cols-2 gap-4 md:grid-cols-4">
			<div class="text-center">
				<span class="text-2xl font-bold text-primary">{{ statistics.partidosJugados }}</span>
				<p class="text-sm text-dashboardGrayText">Partidos jugados</p>
			</div>
			<div class="text-center">
				<span class="text-2xl font-bold text-primary">{{ statistics.partidosGanados }}</span>
				<p class="text-sm text-dashboardGrayText">Partidos ganados</p>
			</div>
			<div class="text-center">
				<span class="text-2xl font-bold text-primary">{{ statistics.golesTotal }}</span>
				<p class="text-sm text-dashboardGrayText">Goles totales</p>
			</div>
			<div class="text-center">
				<span class="text-2xl font-bold text-primary">{{ statistics.tarjetasTotal }}</span>
				<p class="text-sm text-dashboardGrayText">Tarjetas totales</p>
			</div>
		</div>
	</div>

	<!-- Gráfico de barras integrado -->
	<div class="mt-6">
		<apx-chart
			[series]="barChartOptions.series"
			[chart]="barChartOptions.chart"
			[colors]="barChartOptions.colors"
			[plotOptions]="barChartOptions.plotOptions"
			[dataLabels]="barChartOptions.dataLabels"
			[xaxis]="barChartOptions.xaxis"
			[yaxis]="barChartOptions.yaxis"
			[legend]="barChartOptions.legend"
			[tooltip]="barChartOptions.tooltip"
		>
		</apx-chart>
	</div>
</div>
