<!-- Item wrapper -->
<div
	class="app-navigation-item-wrapper"
	[class.app-navigation-item-has-subtitle]="!!item().subtitle"
>
	<a
		class="app-navigation-item"
		[routerLink]="[item().link]"
		[routerLinkActive]="'app-navigation-item-active'"
		[matTooltip]="item().tooltip || ''"
	>
		<!-- Font Icon -->
		@if (item().fontIcon) {
			<div class="app-navigation-item-icon">
				<mat-icon>{{ item().fontIcon }}</mat-icon>
			</div>
		}

		<!-- Title & Subtitle -->
		@if (item().title) {
			<div class="app-navigation-item-title-wrapper">
				<!-- Title -->
				<div class="app-navigation-item-title">{{ item().title }}</div>

				<!-- Subtitle -->
				@if (item().subtitle) {
					<div class="app-navigation-item-subtitle">{{ item().subtitle }}</div>
				}
			</div>
		}
	</a>
</div>
