<section
	id="equipos"
	class="to-colorSecundario rounded-[2rem] bg-gradient-to-br from-[#151920] p-20 max-lg:px-12 2xs:rounded-[6rem]"
>
	<div class="text-colorBlancoMenta mb-24 max-w-200 space-y-3 text-center sm:text-start">
		<p class="font-semibold sm:text-lg">
			¿Prefieres liderar u unirte? Aquí, cada jugador encuentra su lugar.
		</p>
		<h2 class="text-2xl font-bold sm:text-5xl">
			Somos la comunidad que impulsa tu pasión por el juego
		</h2>
		<p class="font-normal sm:text-lg">
			Conoce a los equipos más destacados, crea conexiones y construye tu propio legado en la
			plataforma. ¡Juntos llegamos más lejos!
		</p>

		<button class="btn-landing-outline">
			<span class="text-xl font-extrabold">Crea tu equipo</span>
		</button>
	</div>

	<div class="teams-container">
		<div #teamsScroll class="teams-scroll">
			@for (team of teams; track $index) {
				<landing-team-card [team]="team"></landing-team-card>
			}
		</div>

		<scroll-buttons
			[showLeftButton]="showLeftButton"
			[showRightButton]="showRightButton"
			(scrollLeft)="handleScrollLeft()"
			(scrollRight)="handleScrollRight()"
		/>
	</div>
</section>
