<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
	<span class="relative">
		@if (user.avatar) {
			<img class="h-7 w-7 rounded-full" [src]="user.avatar" />
		} @else {
			<mat-icon>account_circle</mat-icon>
		}
	</span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
	<button mat-menu-item (click)="$event.stopPropagation()">
		<span class="flex flex-col leading-none">
			<span class="text-md mt-1.5 font-medium">{{ user.email }}</span>
		</span>
	</button>

	<mat-divider class="my-2"></mat-divider>

	<button mat-menu-item>
		<mat-icon>account_circle</mat-icon>
		<span>Perfil</span>
	</button>

	<button mat-menu-item>
		<mat-icon>settings</mat-icon>
		<span>Configuración</span>
	</button>

	<mat-divider class="my-2"></mat-divider>

	<button mat-menu-item (click)="signOut()">
		<mat-icon>logout</mat-icon>
		<span>Cerrar sesión</span>
	</button>
</mat-menu>
