<div class="container mx-auto p-4">
	<section>
		<div class="mb-4 flex items-center justify-start gap-4">
			<!-- Back Button -->
			<app-back-button [text]="'Volver a torneos'" />
			<!-- Title -->
			<h2 class="text-xl font-bold">Nuevos torneos</h2>
		</div>

		<!-- Filter -->
		<app-dashboard-filter
			[placeholder]="'Nombre del torneo'"
			(filterChange)="onFilterNewTournamentsChange($event)"
			(clearFilter)="onClearNewTournamentsFilter()"
		/>

		<!-- New Tournaments List -->
		<div class="mb-4 flex flex-col gap-6">
			<div class="mt-4 grid grid-cols-1 gap-4">
				@for (tournament of newTournaments; track $index) {
					<!-- Tournament Card -->
					<app-dashboard-tournament-card [tournament]="tournament" />
				} @empty {
					<!-- Empty Tournaments -->
					<app-empty-tournaments class="col-span-full" />
				}
			</div>

			<!-- Pagination -->
			<app-paginator
				[length]="totalTournaments"
				[pageSize]="pageSize"
				(pageChange)="onPageChange($event)"
				ariaLabel="Seleccionar página de torneos"
			/>
		</div>
	</section>
</div>
