<div class="mx-auto flex-auto p-4 md:p-10">
	<div class="mb-4">
		<h1 class="text-2xl font-bold">Mis Estadísticas</h1>
	</div>

	<!-- Filtro -->
	<!-- <div class="mb-6">
		<button class="btn-outline-primary flex items-center gap-2 rounded-md px-4 py-2">
			<span class="material-icons">filter_list</span>
			<span>Filtro</span>
		</button>
	</div> -->

	<!-- Stats cards -->
	<div class="mb-8 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
		@for (card of statsCards; track $index) {
			<app-stats-card [statsCard]="card" />
		}
	</div>

	<!-- Charts -->
	<div class="grid grid-cols-1 gap-6 md:grid-cols-2 2xl:grid-cols-3">
		<!-- Match results chart -->
		<statistics-match-results [player]="player" />

		<!-- Goal efficiency chart -->
		<statistics-goal-efficiency [player]="player" />

		<!-- Fair play chart -->
		<statistics-fair-play [player]="player" />

		<!-- Player comparison -->
		<statistics-player-comparison class="col-span-full" />
	</div>
</div>
