<div class="dashboard-card">
	<h2 class="mb-4 text-xl font-semibold">Estadísticas de goles</h2>

	<!-- Stats -->
	<div class="mb-4 grid min-h-11 gap-1 sm:grid-cols-2">
		@for (stat of goalStats; track $index) {
			<div class="text-adaptive-secondary text-sm">
				{{ stat.label }}: <span class="font-semibold">{{ stat.value }}</span>
			</div>
		}
	</div>

	<!-- Line chart -->
	<div class="flex flex-auto flex-col">
		<!-- Chart title -->
		<h3 class="text-center text-lg font-semibold">Comparación de goles por partido</h3>

		<apx-chart
			class="h-80 w-full flex-auto"
			[series]="lineChartOptions.series"
			[chart]="lineChartOptions.chart"
			[xaxis]="lineChartOptions.xaxis"
			[yaxis]="lineChartOptions.yaxis"
			[colors]="lineChartOptions.colors"
			[stroke]="lineChartOptions.stroke"
			[tooltip]="lineChartOptions.tooltip"
			[grid]="lineChartOptions.grid"
			[markers]="lineChartOptions.markers"
			[legend]="lineChartOptions.legend"
			[title]="lineChartOptions.title"
		>
		</apx-chart>
	</div>
</div>
